@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700|Orbitron);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', sans-serif;
}

#map-canvas {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 1200px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
}

#gameBoard {
  display: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  width: 1200px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
  cursor: move;
}

#scoreBox {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 1200px;
  margin: auto;
  margin-top: 810px;
  font-size: 2em;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

#instructions {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 1200px;
  margin: auto;
  margin-top: 810px;
  font-size: 1.5em;
  text-align: right;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

.preselectedLocation {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background-color: orange;
  display: inline-block;
  padding: .5em;
  margin: .2em .1em;
}
.preselectedLocation:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  cursor: pointer;
}

.popOptions {
  margin: auto;
  width: 90%;
  text-align: center;
}

.disclaimer {
  width: 60%;
  margin: auto;
  margin-top: 5em;
}

.addressSearch {
  width: 50%;
  margin: 5% 25% 0 25%;
}
.addressSearch input {
  font-size: 2em;
  width: 100%;
}
.addressSearch h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}
.addressSearch h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 1em;
}
.addressSearch h3 {
  font-size: 1.2em;
}
.addressSearch img {
  display: block;
  margin: auto;
}

.footer {
  width: 50%;
  margin: auto;
  margin-top: 3em;
  text-align: center;
}

#addressButton {
  font-size: 2em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
#addressButton:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#playButton {
  z-index: 101;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding-top: 15px;
  cursor: pointer;
  position: absolute;
  left: 500px;
  top: 325px;
  width: 200px;
  height: 50px;
  background-color: red;
}
#playButton h2 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}
#playButton:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#resetButton {
  z-index: 101;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding-top: 15px;
  cursor: pointer;
  position: absolute;
  left: 380px;
  top: 325px;
  width: 200px;
  height: 50px;
  background-color: red;
}
#resetButton h2 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}
#resetButton:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#newLocation {
  z-index: 101;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding-top: 15px;
  cursor: pointer;
  position: absolute;
  left: 620px;
  top: 325px;
  width: 200px;
  height: 100px;
  background-color: red;
}
#newLocation h2 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}
#newLocation:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#gameOver {
  z-index: 101;
  display: none;
  position: absolute;
  left: 400px;
  top: 275px;
  width: 400px;
  height: 50px;
  color: red;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.userShip {
  position: absolute;
  left: 550px;
  top: -100px;
  background-image: url("../img/userShip.png");
  width: 100px;
  height: 100px;
  z-index: 100;
}

.ufo1 {
  position: absolute;
  background-image: url("../img/ufo1.png");
  width: 100px;
  height: 100px;
  pointer-events: none;
}

.missile {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  pointer-events: none;
}

/*# sourceMappingURL=styles.css.map */
