@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700|Orbitron);

html, body, #map-canvas { 
	height: 100%; margin: 0; padding: 0;
}

body{
	font-family: 'Orbitron', sans-serif;
	//background-color: black;
}

#map-canvas{
	display:none;
	position: absolute;
	left: 0;
	right: 0;
	width: 1200px;
	height: 700px;
	margin: auto;
	margin-top: 100px;
}

#gameBoard{
	display:none;
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	width: 1200px;
	height: 700px;
	margin: auto;
	margin-top: 100px;
	cursor: move;
	//@include opacity(0.3);

}

#scoreBox{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	width: 1200px;
	margin: auto;
	margin-top: 810px;
	font-size: 2em;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

#instructions{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	width: 1200px;
	margin: auto;
	margin-top: 810px;
	font-size: 1.5em;
	text-align: right;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.preselectedLocation{
	@include opacity(0.8);
	background-color: orange;
	display: inline-block;
	padding: .5em;
	margin: .2em .1em;
	&:hover{
		@include opaque;
		cursor: pointer;
	}
}

.popOptions{
	margin:auto;
	width: 90%;
	text-align: center;
}

.disclaimer{
	width: 60%;
	margin:auto;
	margin-top: 5em;

}
.addressSearch{
	width: 50%;
	margin: 5% 25% 0 25%;
	input{
		font-size: 2em;
		width: 100%;
	}
	h1{
		font-family: 'Amatic SC', cursive;
		font-size: 5em;
		font-weight: bold;
		text-align: center;
	}
	h2{
		font-size: 1.5em;
		text-align: center;
		margin: 1em;
	}
	h3{
		font-size: 1.2em;
	}
	img{
		display: block;
		margin: auto;
	}
	
}

#addressButton{
	font-size: 2em;
}

#playButton{
	@include opacity(0.6);
	padding-top: 15px;
	cursor: pointer;
	position: absolute;
	left: 500px;
	top: 325px;
	width: 200px;
	height: 50px;
	background-color: red;
	h2{
		font-size: 2.5em;
		font-weight: bold;
		text-align: center;
	}
	&:hover{
		@include opaque;
	}
}

#resetButton{
	display:none;
	@include opacity(0.6);
	padding-top: 15px;
	cursor: pointer;
	position: absolute;
	left: 380px;
	top: 325px;
	width: 200px;
	height: 50px;
	background-color: red;
	h2{
		font-size: 2.5em;
		font-weight: bold;
		text-align: center;
	}
	&:hover{
		@include opaque;
	}
}

#newLocation{
	display:none;
	@include opacity(0.6);
	padding-top: 15px;
	cursor: pointer;
	position: absolute;
	left: 620px;
	top: 325px;
	width: 200px;
	height: 100px;
	background-color: red;
	h2{
		font-size: 2.5em;
		font-weight: bold;
		text-align: center;
	}
	&:hover{
		@include opaque;
	}
}

#gameOver{
	display:none;
	position: absolute;
	left: 400px;
	top: 275px;
	width: 400px;
	height: 50px;
	color: red;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
}


.userShip{
	position: absolute;
	left: 550px;
	top: -100px;
	background-image: url("../img/userShip.png");
	width:100px;
	height:100px;
	z-index: 100;
}
.ufo1{
	position: absolute;
	//left: -100px;
	//top: 800px;
	background-image: url("../img/ufo1.png");
	width:100px;
	height:100px;
	pointer-events: none;
}

.missile{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
	@include border-radius(50%);
	pointer-events: none;
}



















